<footer>
  <div class="logo">
    <p>A Project of:</p>
    <a href="https://www.fightforthefuture.org" target="_blank">
      <img src="/images/fftf.png" alt="Fight for the Future" />
    </a>
  </div>

  <main>
    {% if page.layout == 'politician' %}
    <div class="share">
      {% include share.html %}
    </div>

    <hr>
    {% endif %}

    <p class="contact">
      Inquiries: <a href="mailto:press@fightforthefuture.org">press@fightforthefuture.org</a>
    </p>

    <p class="disclaimer">
      <a href="https://www.fightforthefuture.org/privacy/" target="_blank">
        Privacy Policy
      </a>
    </p>
  </main>
</footer>
