<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">

{% if page.layout == 'politician' %}

{% capture title %}{{ site.title | prepend: page.politician.name }}{% endcapture %}
{% capture share_title %}{{ site.share_title | prepend: page.politician.name }}{% endcapture %}
{% capture share_description %}{{ page.pronoun.subject | capitalize }}{{ site.share_description }}{% endcapture %}

<title>{{ title }}</title>
<meta name="description" content="{{ share_title }}">

<!-- Facebook -->
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ page.politician.image | prepend: page.domain }}" />
<meta property="og:image:width" content="1024" />
<meta property="og:image:height" content="512" />
<meta property="og:site_name" content="{{ title }}" />
<meta property="og:determiner" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:title" content="{{ share_title }}" />
<meta property="og:description" content="{{ share_description }}" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.author.twitter }}">
<meta name="twitter:title" content="{{ share_title }}">
<meta name="twitter:description" content="{{ share_description }}"/>
<meta name="twitter:image:src" content="{{ page.politician.image | prepend: page.domain }}" />
<meta name="twitter:domain" content="{{ page.domain | remove:'http://' | remove:'https://' }}" />
<meta name="twitter:account_id" content="{{ site.author.twitter_id }}" />

{% else %}

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

{% endif %}

<link rel="shortcut icon" href="/favicon.ico">

<link rel="stylesheet" href="/style.css">

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:600" rel="stylesheet" type="text/css">
