{% capture thanks_body %}We need everyone to know how corrupt {{ page.politician }} is so they don’t get fooled.{% endcapture %}

<section id="petition" class="petition">
  <div class="left">
    <aside>
      <div class="politician" style="background-image: url({{ page.image }})"></div>
    </aside>
  </div>

  <div class="right">
    <h3>Tell {{ page.politician }}:</h3>
    <p>You can't hide from your constituents. We can all see your corruption. I'll never vote for you if you continue to support the FCC's attack on free speech and the Internet.</p>

    <form method="post" action="https://queue.fightforthefuture.org/action" accept-charset="UTF-8">
      <input type="text" name="member[first_name]" placeholder="Name" title="Name" autocomplete="name" required>
      <input type="email" name="member[email]" placeholder="Email" title="Email" required>
      <input type="text" name="member[postcode]" placeholder="ZIP" title="ZIP" required>

      <input type="submit" value="Add Your Name" />

      <!-- Mothership Honeypot Bot Defense -->
      <input class="hidden" type="checkbox" checked="checked" name="hp_enabled" />
      <input class="hidden" type="checkbox" name="hp_disabled" />
      <input class="hidden" type="text" name="guard" />

      <!-- Mothership -->
      <input type="hidden" name="contact_congress" value="0"/>

      <!-- Action Network -->
      <input type="hidden" name="an_tags" value="[&quot;net-neutrality&quot;]"/>
      <input type="hidden" name="an_petition_id" value="5de97f0d-fd08-4b3a-904d-f808e380dbd6"/>
    </form>

    <p class="message fade invisible hidden"></p>
  </div>
</section>

{% include modal.html id="thanks" header="Thanks. Now can you share?" body=thanks_body %}

<script src="/js/petition.js" type="text/javascript" async></script>
