{% capture tweet %}{{ site.tweet.prefix }}{% if page.politician.twitter %}{{ page.politician.twitter }}{% else %}{{ page.politician.name }}{% endif %}{{ site.tweet.postfix }}{% endcapture %}

<a href="https://www.facebook.com/sharer.php?u={{ page.domain }}" class="facebook">
  <button>
    <svg><use xlink:href="/images/facebook.svg#facebook" /></svg>
    Share on Facebook
  </button>
</a>
<a href="https://twitter.com/intent/tweet?related={{ site.author.twitter }}&text={{ tweet | url_encode }}&url={{ page.domain | url_encode }}" class="twitter">
  <button>
    <svg><use xlink:href="/images/twitter.svg#twitter" /></svg>
    Share on Twitter
  </button>
</a>
